@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/main/main.css);
/*Импорты блока profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__button-change-avatar/profile__button-change-avatar.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
/*Импорты блока elements*/
@import url(./blocks/elements/elements.css);
/*Импорты блока element*/
@import url(./blocks/element/element.css);
@import url(./blocks/element/__button-delete/element__button-delete.css);
@import url(./blocks/element/__button-delete/_hidden/element__button-delete_hidden.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__place/element__place.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__button-like/_active/element__button-like_active.css);
@import url(./blocks/element/__liked/element__liked.css);
/*Импорты блока footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/*Импорты блока popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-fullscreen/popup__container-fullscreen.css);
@import url(./blocks/popup/__photo-fullscreen/popup__photo-fullscreen.css);
@import url(./blocks/popup/__photo-fullscreen-title/popup__photo-fullscreen-title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_approve.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/popup/__span-error/popup__span-error.css);
@import url(./blocks/popup/__form-button/popup__form-button.css);
@import url(./blocks/popup/__form-button/_disabled/popup__form-button_disabled.css);
@import url(./blocks/popup/_opened/popup_opened.css);
/*Импорты блока spinner*/
@import url(./blocks/spinner/spinner.css);
@import url(./blocks/spinner/_hidden/spinner_hidden.css);